<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.Encrypt"
      android:versionCode="0"
      android:versionName="0.3">
    <application android:icon="@drawable/icon" android:label="@string/app_name"
    			 android:debuggable="true">
        <activity android:name=".EncryptActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".EncryptStringActivity"
                  android:label="@string/EncryptAString">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".EncryptFileActivity"
                  android:label="@string/EncryptFile">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
		<activity android:name=".DecryptFileActivity"
                  android:label="@string/DecryptFile">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
		
    </application>

</manifest> 